# Configuration file

##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Disabling these modules can greatly change how the mod functions.
# Your mileage may vary, please report any issues.
##########################################################################################################

modules {
    # Compatibility plugin for AgriCraft.
    B:agricraft=true

    # Adiciona abelhas, apicultura e produtos de abelha. Afeta a geração do mundo.
    B:apiculture=true

    # Adiciona produtos e espécies adicionais.
    B:arboriculture=true

    # Plugin de compatibilidade para o 'Biomes O Plenty'. Permite o cultivo de mudas do BoP.
    B:biomesoplenty=true

    # Plugin de compatibilidade para o 'BuildCraft 6'.
    B:buildcraft.fuels=true

    # Plugin de compatibilidade para o 'BuildCraft 6'.
    B:buildcraft.recipes=true

    # Plugin de compatibilidade para o 'BuildCraft 6'.
    B:buildcraft.statements=true

    # Plugin de compatibilidade para o 'BuildCraft 6'.
    B:buildcraft.transport=true

    # Compatibility plugin for Chisel. Adds worldgen blocks to Backpacks.
    B:chisel=true

    # Compatibility plugin for EnderIO.
    B:enderio=true

    # Adiciona vários motores de RF.
    B:energy=true

    # Compatibility plugin for Erebus
    B:erebus=true

    # Plugin de compatibilidade para o 'Extra Utilities'. Permite o cultivo de 'Ender Lilies'.
    B:extrautilities=true

    # Adiciona uma grande variedade de máquinas de criação, processar e produzir produtos.
    B:factory=true

    # Adiciona fazendas automáticas e colheitadeiras para uma grande variedade de produtos.
    B:farming=true

    # Adiciona o alimento.
    B:food=true

    # Compatibility plugin for GrowthCraft
    B:growthcraft=true

    # Plugin de compatibilidade para o 'HarvestCraft'. Permite o cultivo de árvores e plantas do 'HarvestCraft'.
    B:harvestcraft=true

    # Compatibility plugin for Immersive Engineering.
    B:immersiveengineering=true

    # Plugin de compatibilidade para o 'IC2'. Adiciona o motor elétrico e gerador para a conversão de energia.
    B:industrialcraft=true

    # Borboletas. Brilhantes.
    B:lepidopterology=true

    # Plugin de compatibilidade para o 'Magical Crops'.
    B:magicalcrops=true

    # Adiciona correspondências e sistema de trocas.
    B:mail=true

    # Compatibility plugin for MineFactoryReloaded
    B:minefactoryreloaded=true

    # Plugin de compatibilidade para o 'Natura'. Permite o cultivo de mudas do 'Natura'.
    B:natura=true

    # Compatibility plugin for Plant Mega Pack.
    B:plantmegapack=true

    # Compatibility plugin for RotaryCraft
    B:rotarycraft=true

    # Adiciona mochilas e caixas.
    B:storage=true

    # Compatibility plugin for Witchery.
    B:witchery=true
}


