# Configuration file

"base damage" {
    # If BaseDamage is set to true, all mobs will deal 1.0 piercing damage (ignores armor).
    S:" "= 
    B:BaseDamage=true
}


general {
    # Spawn Rate. Set to 0 to disable mob from spawning. Recommended: 10> Day, <100 Night
    S:" "= 
    I:SpawnRateAnubis=84
    I:SpawnRateBanshee=84
    I:SpawnRateBaphomet=11
    I:SpawnRateBoneKnight=112
    I:SpawnRateCentaur=34
    I:SpawnRateCobbleGolem=22
    I:SpawnRateCobblestoneGolem=84
    I:SpawnRateCockatrice=11
    I:SpawnRateCreep=112
    I:SpawnRateCyclops=17
    I:SpawnRateDhampir=84
    I:SpawnRateDryad=22
    I:SpawnRateDullahan=112
    I:SpawnRateEnderDragonGirl=17
    I:SpawnRateEnderEye=112
    I:SpawnRateFleshLich=84
    I:SpawnRateFutakuchiOnna=112
    I:SpawnRateGryphon=45
    I:SpawnRateHarpy=11
    I:SpawnRateHunter=34
    I:SpawnRateJorogumo=112
    I:SpawnRateMermaid=84
    I:SpawnRateMimic=84
    I:SpawnRateMinotaur=56
    I:SpawnRateMinotaurus=84
    I:SpawnRateNaga=17
    I:SpawnRateNineTails=84
    I:SpawnRateSahuagin=112
    I:SpawnRateSatyr=28
    I:SpawnRateSelkie=17
    I:SpawnRateShaman=84
    I:SpawnRateSharko=84
    I:SpawnRateSiren=22
    I:SpawnRateSpawnKobold=34
    I:SpawnRateSpawnMandragora=11
    I:SpawnRateSphinx=56
    I:SpawnRateSpriggan=84
    I:SpawnRateSuccubus=22
    I:SpawnRateSwamper=84
    I:SpawnRateValkyrie=11
    I:SpawnRateVampire=56
    I:SpawnRateWerecat=112
    I:SpawnRateWitch=70
    I:SpawnRateWitherCow=17
    I:SpawnRateYeti=22
    I:SpawnRateYukiOnna=25
    I:SpawnSludgeGirl=112
}


modifier {
    # Percentage amount. Default value: 100
    S:" "= 
    I:Tier1attackDamage=100
    I:Tier1maxHealth=100
    I:Tier2attackDamage=100
    I:Tier2maxHealth=100
    I:Tier3attackDamage=100
    I:Tier3maxHealth=100
}


