# Configuration file

entitiesalwaysinfernal {
    B:AttackSquid=false
    B:BabyHeatscarSpider=false
    B:Bee=false
    B:BlueSlime=false
    B:CaterKiller=false
    B:CaveFisher=false
    B:Crab=false
    B:EnderKnight=false
    B:EnderReaper=false
    B:EntityAbygolem=false
    B:EntityAbyssalZombie=false
    B:EntityAntiCreeper=false
    B:EntityAntiGhoul=false
    B:EntityAntiSkeleton=false
    B:EntityBlaze=false
    B:EntityBrainyZombie=false
    B:EntityCreeper=false
    B:EntityCultistCleric=false
    B:EntityCultistKnight=false
    B:EntityDarkling=false
    B:EntityDemonChicken=false
    B:EntityDemonCow=false
    B:EntityDemonPig=false
    B:EntityDepthsGhoul=false
    B:EntityDragon=false
    B:EntityEarthElemental=false
    B:EntityEldritchGuardian=false
    B:EntityEnderman=false
    B:EntityEvilChicken=false
    B:EntityEvilCow=false
    B:EntityEvilpig=false
    B:EntityFireBat=false
    B:EntityFireElemental=false
    B:EntityGaiaAnubis=false
    B:EntityGaiaBanshee=false
    B:EntityGaiaBaphomet=false
    B:EntityGaiaBoneKnight=false
    B:EntityGaiaCentaur=false
    B:EntityGaiaCobbleGolem=false
    B:EntityGaiaCobblestoneGolem=false
    B:EntityGaiaCockatrice=false
    B:EntityGaiaCreep=false
    B:EntityGaiaCyclops=false
    B:EntityGaiaDryad=false
    B:EntityGaiaDullahan=false
    B:EntityGaiaEnderDragonGirl=false
    B:EntityGaiaEnderEye=false
    B:EntityGaiaFleshLich=false
    B:EntityGaiaFutakuchiOnna=false
    B:EntityGaiaGryphon=false
    B:EntityGaiaHarpy=false
    B:EntityGaiaHunter=false
    B:EntityGaiaJorogumo=false
    B:EntityGaiaKobold=false
    B:EntityGaiaMermaid=false
    B:EntityGaiaMimic=false
    B:EntityGaiaMinotaur=false
    B:EntityGaiaMinotaurus=false
    B:EntityGaiaNaga=false
    B:EntityGaiaNineTails=false
    B:EntityGaiaSahuagin=false
    B:EntityGaiaSatyr=false
    B:EntityGaiaSelkie=false
    B:EntityGaiaShaman=false
    B:EntityGaiaSharko=false
    B:EntityGaiaSiren=false
    B:EntityGaiaSludgeGirl=false
    B:EntityGaiaSphinx=false
    B:EntityGaiaSpriggan=false
    B:EntityGaiaSuccubus=false
    B:EntityGaiaValkyrie=false
    B:EntityGaiaWerecat=false
    B:EntityGaiaWitch=false
    B:EntityGaiaWitherCow=false
    B:EntityGaiaYeti=false
    B:EntityGhast=false
    B:EntityGiantBrainyZombie=false
    B:EntityGlob=false
    B:EntityHellhound=false
    B:EntityIsaacNormal=false
    B:EntityJungleSpider=false
    B:EntityLesserShoggoth=false
    B:EntityMagmaCube=false
    B:EntityManaCreeper=false
    B:EntityManaElemental=false
    B:EntityMobEnderman=false
    B:EntityNightCrawler=false
    B:EntityPech=false
    B:EntityPhantom=false
    B:EntityPigZombie=false
    B:EntityShadowBeast=false
    B:EntityShadowCreature=false
    B:EntityShadowMonster=false
    B:EntitySilverfish=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntityTaintBreeder=false
    B:EntityTaintSporeSwarmer=false
    B:EntityWasp=false
    B:EntityWisp=false
    B:EntityWitch=false
    B:EntityWitherSkeleton=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
    B:HeatscarSpider=false
    B:KingBlueSlime=false
    B:Kyuubi=false
    B:LeafMonster=false
    B:Mantis=false
    B:MoCEntityFlameWraith=false
    B:MoCEntityGolem=false
    B:MoCEntityHellRat=false
    B:MoCEntityHorseMob=false
    B:MoCEntityMiniGolem=false
    B:MoCEntityOgre=false
    B:MoCEntityRat=false
    B:MoCEntityScorpion=false
    B:MoCEntitySilverSkeleton=false
    B:MoCEntityWWolf=false
    B:MoCEntityWerewolf=false
    B:MoCEntityWraith=false
    B:NitroCreeper=false
    B:PitchBlack=false
    B:Rat=false
    B:Scorpion=false
    B:SeaViper=false
    B:WormLarge=false
    B:WormMedium=false
    B:WormSmall=false
}


entitybasehealth {
    D:AttackSquid=10.0
    D:BabyHeatscarSpider=16.0
    D:BlueSlime=12.0
    D:Crab=62.0
    D:EnderReaper=90.0
    D:EntityAbyssalZombie=25.0
    D:EntityCreeper=20.0
    D:EntityCultistCleric=30.0
    D:EntityCultistKnight=36.0
    D:EntityDarkling=7.0
    D:EntityDemonChicken=10.0
    D:EntityDemonCow=15.0
    D:EntityDemonPig=15.0
    D:EntityDepthsGhoul=40.0
    D:EntityEnderman=40.0
    D:EntityEvilChicken=10.0
    D:EntityEvilCow=15.0
    D:EntityEvilpig=15.0
    D:EntityFireBat=5.0
    D:EntityGaiaAnubis=80.0
    D:EntityGaiaBaphomet=80.0
    D:EntityGaiaBoneKnight=80.0
    D:EntityGaiaCentaur=40.0
    D:EntityGaiaCockatrice=40.0
    D:EntityGaiaCreep=40.0
    D:EntityGaiaCyclops=40.0
    D:EntityGaiaDryad=40.0
    D:EntityGaiaDullahan=40.0
    D:EntityGaiaEnderDragonGirl=80.0
    D:EntityGaiaEnderEye=40.0
    D:EntityGaiaFleshLich=80.0
    D:EntityGaiaFutakuchiOnna=40.0
    D:EntityGaiaGryphon=40.0
    D:EntityGaiaHarpy=40.0
    D:EntityGaiaJorogumo=40.0
    D:EntityGaiaKobold=40.0
    D:EntityGaiaMermaid=80.0
    D:EntityGaiaMimic=40.0
    D:EntityGaiaNaga=80.0
    D:EntityGaiaNineTails=80.0
    D:EntityGaiaSahuagin=40.0
    D:EntityGaiaSatyr=40.0
    D:EntityGaiaSelkie=80.0
    D:EntityGaiaShaman=80.0
    D:EntityGaiaSharko=80.0
    D:EntityGaiaSiren=40.0
    D:EntityGaiaSludgeGirl=40.0
    D:EntityGaiaSuccubus=40.0
    D:EntityGaiaValkyrie=160.0
    D:EntityGaiaWerecat=40.0
    D:EntityGaiaWitherCow=40.0
    D:EntityGaiaYeti=40.0
    D:EntityHellhound=20.0
    D:EntityLesserShoggoth=100.0
    D:EntityManaCreeper=20.0
    D:EntityManaElemental=20.0
    D:EntityMobEnderman=40.0
    D:EntityPech=30.0
    D:EntityPhantom=20.0
    D:EntityPigZombie=20.0
    D:EntityShadowCreature=20.0
    D:EntitySilverfish=8.0
    D:EntitySkeleton=20.0
    D:EntitySpider=16.0
    D:EntityTaintBreeder=42.0
    D:EntityTaintSporeSwarmer=75.0
    D:EntityWasp=20.0
    D:EntityWisp=22.0
    D:EntityWitch=26.0
    D:EntityWitherSkeleton=20.0
    D:EntityZombie=20.0
    D:EntityZombieVillager=20.0
    D:HeatscarSpider=50.0
    D:Kyuubi=125.0
    D:MoCEntityFlameWraith=15.0
    D:MoCEntityHorseMob=20.0
    D:MoCEntityMiniGolem=15.0
    D:MoCEntityOgre=35.0
    D:MoCEntityRat=10.0
    D:MoCEntityScorpion=15.0
    D:MoCEntitySilverSkeleton=25.0
    D:MoCEntityWWolf=20.0
    D:MoCEntityWerewolf=40.0
    D:MoCEntityWraith=10.0
    D:NitroCreeper=20.0
    D:PitchBlack=125.0
    D:Rat=5.0
    D:Scorpion=15.0
    D:WormSmall=10.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=14
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=14
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:AttackSquid=true
    B:BabyHeatscarSpider=true
    B:Bee=true
    B:BlueSlime=true
    B:CaterKiller=true
    B:CaveFisher=true
    B:Crab=true
    B:EnderKnight=true
    B:EnderReaper=true
    B:EntityAbygolem=true
    B:EntityAbyssalZombie=true
    B:EntityAntiCreeper=true
    B:EntityAntiGhoul=true
    B:EntityAntiSkeleton=true
    B:EntityBlaze=true
    B:EntityBrainyZombie=true
    B:EntityCreeper=true
    B:EntityCultistCleric=true
    B:EntityCultistKnight=true
    B:EntityDarkling=true
    B:EntityDemonChicken=true
    B:EntityDemonCow=true
    B:EntityDemonPig=true
    B:EntityDepthsGhoul=true
    B:EntityDragon=true
    B:EntityEarthElemental=true
    B:EntityEldritchGuardian=true
    B:EntityEnderman=true
    B:EntityEvilChicken=true
    B:EntityEvilCow=true
    B:EntityEvilpig=true
    B:EntityFireBat=true
    B:EntityFireElemental=true
    B:EntityGaiaAnubis=true
    B:EntityGaiaBanshee=true
    B:EntityGaiaBaphomet=true
    B:EntityGaiaBoneKnight=true
    B:EntityGaiaCentaur=true
    B:EntityGaiaCobbleGolem=true
    B:EntityGaiaCobblestoneGolem=true
    B:EntityGaiaCockatrice=true
    B:EntityGaiaCreep=true
    B:EntityGaiaCyclops=true
    B:EntityGaiaDryad=true
    B:EntityGaiaDullahan=true
    B:EntityGaiaEnderDragonGirl=true
    B:EntityGaiaEnderEye=true
    B:EntityGaiaFleshLich=true
    B:EntityGaiaFutakuchiOnna=true
    B:EntityGaiaGryphon=true
    B:EntityGaiaHarpy=true
    B:EntityGaiaHunter=true
    B:EntityGaiaJorogumo=true
    B:EntityGaiaKobold=true
    B:EntityGaiaMermaid=true
    B:EntityGaiaMimic=true
    B:EntityGaiaMinotaur=true
    B:EntityGaiaMinotaurus=true
    B:EntityGaiaNaga=true
    B:EntityGaiaNineTails=true
    B:EntityGaiaSahuagin=true
    B:EntityGaiaSatyr=true
    B:EntityGaiaSelkie=true
    B:EntityGaiaShaman=true
    B:EntityGaiaSharko=true
    B:EntityGaiaSiren=true
    B:EntityGaiaSludgeGirl=true
    B:EntityGaiaSphinx=true
    B:EntityGaiaSpriggan=true
    B:EntityGaiaSuccubus=true
    B:EntityGaiaValkyrie=true
    B:EntityGaiaWerecat=true
    B:EntityGaiaWitch=true
    B:EntityGaiaWitherCow=true
    B:EntityGaiaYeti=true
    B:EntityGhast=true
    B:EntityGiantBrainyZombie=true
    B:EntityGlob=true
    B:EntityHellhound=true
    B:EntityIsaacNormal=true
    B:EntityJungleSpider=true
    B:EntityLesserShoggoth=true
    B:EntityMagmaCube=true
    B:EntityManaCreeper=true
    B:EntityManaElemental=true
    B:EntityMobEnderman=true
    B:EntityNightCrawler=true
    B:EntityPech=true
    B:EntityPhantom=true
    B:EntityPigZombie=true
    B:EntityShadowBeast=true
    B:EntityShadowCreature=true
    B:EntityShadowMonster=true
    B:EntitySilverfish=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySpider=true
    B:EntityTaintBreeder=true
    B:EntityTaintSporeSwarmer=true
    B:EntityWasp=true
    B:EntityWisp=true
    B:EntityWitch=true
    B:EntityWitherSkeleton=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
    B:HeatscarSpider=true
    B:KingBlueSlime=true
    B:Kyuubi=true
    B:LeafMonster=true
    B:Mantis=true
    B:MoCEntityFlameWraith=true
    B:MoCEntityGolem=true
    B:MoCEntityHellRat=true
    B:MoCEntityHorseMob=true
    B:MoCEntityMiniGolem=true
    B:MoCEntityOgre=true
    B:MoCEntityRat=true
    B:MoCEntityScorpion=true
    B:MoCEntitySilverSkeleton=true
    B:MoCEntityWWolf=true
    B:MoCEntityWerewolf=true
    B:MoCEntityWraith=true
    B:NitroCreeper=true
    B:PitchBlack=true
    B:Rat=true
    B:Scorpion=true
    B:SeaViper=true
    B:WormLarge=true
    B:WormMedium=true
    B:WormSmall=true
}


