# Configuration file

general {
    # Mod ids that may read the API but may not mutate TIAB state. [default: ]
    S:apiAccessBlacklist <
     >

    # Average random tick interval used by accelerated random-tick blocks. [range: 600 ~ 2100, default: 1365]
    I:averageUpdateRandomTick=1365

    # Duration in seconds for each bottle use. [range: 1 ~ 60, default: 30]
    I:eachUseDuration=30

    # Maximum stored time in ticks. [range: 0 ~ 2147483647, default: 622080000]
    I:maxStoredTime=622080000

    # Maximum time rate power. The maximum displayed speed is 2^this value. [range: 1 ~ 12, default: 8]
    I:maxTimeRatePower=8
}


